@page "/settings"
@using LeadScraper.ViewModels
@inherits SettingsViewModel

<h1>Settings</h1>


@if (BlackListTerms == null || WhiteListTlds == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (Error.IsError)
    {
        <div class="alert alert-primary" role="alert">
            @Error.ErrorMessage
        </div>
    }
    <div class="form-group mb-5">
        <MatTextField @bind-Value="@BingKey"
                  Label="Bing Key"
                  HelperText="A Bing Search API key will allow more searchers per month."
                  HelperTextPersistent="true"
                  Outlined="true"
                  Icon="vpn_key"
                  Style="min-width:550px; width:750px;"></MatTextField>
        <MatButton Raised="true" OnClick="@SaveKey" Class="my-2">Save Key</MatButton>
    </div>
    <div class="form-group mb-5">
        <MatTextField @bind-Value="@AddedTerm"
                  Label="Black Listed Term"
                  HelperText="If a URL contains the following term(s) it will be removed from the result set."
                  HelperTextPersistent="true"
                  Outlined="true"
                  Icon="block"
                  ></MatTextField>
        <MatButton Raised="true" OnClick="@(e => AddBlackListTerm(AddedTerm))" Class="my-2">Add</MatButton>
    </div>

    <div class="row mb-5">
        <MatChipSet @ref="chipsetTerms">
            @foreach (var term in BlackListTerms)
            {
                <MatChip class="mt-1 blackList-chip" Label=@term TrailingIcon="clear" TrailingIconClick="DeleteTerm"></MatChip>
            }
        </MatChipSet>
    </div>
    <div class="form-group mb-5">
        <MatTextField @bind-Value="@AddedTld"
                  Label="White Listed TLD"
                  HelperText="Only URLs with the follwing TLDs will be included in the result set."
                  HelperTextPersistent="true"
                  Outlined="true"
                  Icon="done_outline"
                  ></MatTextField>
        <MatButton Raised="true" OnClick="@(e => AddWhiteListTld(AddedTld))" Class="my-2">Add</MatButton>
    </div>
    <div class="row mb-5">
        <MatChipSet @ref="chipsetTlds">
            @foreach (var tld in WhiteListTlds)
            {
                <MatChip class="mt-1 whiteList-chip" Label=@tld TrailingIcon="clear" TrailingIconClick="DeleteTld"></MatChip>
            }
        </MatChipSet>
    </div>

}
