@page "/search"
@using LeadScraper.ViewModels
@inherits SearchViewModel


<h1>Search</h1>

<div class="form-group row">
    <MatTextField @bind-Value="@SearchTerm"
                  Label="Search Term"
                  Outlined="true"
                  Style="min-width:200px; width:400px;"
    ></MatTextField>
</div>
<div class="form-group row">
    <MatNumericUpDownField @bind-Value="@ResultsPerPage"
                           Label="Results Per Page"
                           Outlined="true"
                           Minimum=10
                           Maximum=50></MatNumericUpDownField>
</div>
<div class="form-group row">
    <MatNumericUpDownField @bind-Value="@StartingPage"
                           Label="Starting Page"
                           Outlined="true"
                           Minimum=1></MatNumericUpDownField>
</div>
<div class="form-group row">
    <MatNumericUpDownField @bind-Value="@Pages"
                           Label="Pages"
                           Outlined="true"
                           Minimum=1></MatNumericUpDownField>
</div>
<div class="form-group row">
    <MatSelectValue Label="Country Code" Outlined="true" @bind-Value="CountryCode" Items="@CountryList" ValueSelector="@(i=>i.Code)">
        <ItemTemplate>
            <span>@context?.Name</span>
        </ItemTemplate>
    </MatSelectValue>
</div>
<MatButton Raised="true" OnClick="GetLeads" Class="my-2" Icon="search">Search</MatButton>
<hr />
<SearchResultComponent @ref="ChildComponent"></SearchResultComponent>
